@media (min-width: 1200px) {
  .righttab {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
  }

  .bottomtab {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 79.8%;
    height: 30%;
  }

  .walkers_container {
    word-wrap: break-word;
    overflow-x: initial;
    overflow-y: initial;
    overflow-wrap: break-word;
    overflow-y: scroll;
  }

  .this_walker {
    padding: .5em 1em 0 1em;
  }

  .pets_container {
  }

  .this_pet {
    padding: .5em 1em 0 1em;
  }
}
